<div class="card centered">
    <div class="card-body text-center">
      <h2>Listado de Peliculas</h2> 
      <div class="card text-center">
        <div>
          <label>Pelicula: </label> 
          <input type="text" placeholder="Nombre de la pelicula" [(ngModel)]="movie.titulo">
        </div>
        <div>
          <label>Calificación:</label> <input type="text"  placeholder="Calificación" [(ngModel)]="movie.calificacion"> / 10
        </div>
        <div>
          <label>Pais:</label> <input type="text" placeholder="Calificación" [(ngModel)]="movie.pais">
          </div>
        
      </div>
    </div>
    
  </div>
