<!-- Componente que muestra el listado de peliculas -->
<h2 class="text-center text-white m-5 m-sm-1">Listado de Peliculas</h2>
<div class="row">
  <div class="col-sm-0 col-md-1 col-lg-2"> </div>
<div class="col-sm-12 col-md-10 col-lg-8">
  <div class="card centered">
    <div class="card-body text-center">
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-left p-1 m-1" *ngFor="let movie of movies">
            <div class="row">
              <div class="col-8">
                <ul>
                  <li><b>Pelicula:</b> {{movie.titulo}}</li>
                  <li><b>Calificación:</b> {{movie.calificacion}} /10</li>
                  <li>Pais: {{movie.pais}}</li>
                </ul>
                </div>
                <div class="col-4 align-self-end">
                  <button type="button" class="btn btn-danger btn-lg btn-block">Borrar</button>
                  <button type="button" class="btn btn-info btn-block">Editar</button>
                </div>
            </div>
          </li>
        </ul>
        
      </div>

<!-- Funcionalidad de agregar peliculas -->
        <div class="container centered">
          <div class="row">
            <div class="col-12 py-3"><h3>Agregar Pelicula</h3></div>
            <div class="col-md-6 col-lg-4 px-1">
              <span><b>Nombre</b><br><input class="formi"type="text" placeholder="titulo..."></span>
            </div>
            <div class="col-md-6 col-lg-4 px-1">
                <span><b>Calificación</b><br><input class="formi" type="text" placeholder="de 1 a 10..."></span>
            </div>
            <div class="col-md-6 col-lg-4 px-1">
                <span><b>País</b><br><input class="formi" type="text" placeholder="País..."></span>
            </div>
          </div>
          <button class="btn btn-primary mt-3">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>



