.card{
    font-family: Montserrat, sans-serif;
    border: 2px solid lightgray;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.925);
    
}
.btn{
    background-color: lightgray;
}
.btn:hover{
    background: whitesmoke;
}

