<div class="card centered">
    <div class="card-body text-center">
      <h2>bienvenido a tu pagina de peliculas</h2> 
       <h3>¿que deseas hacer?</h3>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light">Listado</button>
        <button type="button" class="btn btn-light">Buscar</button>
        <button type="button" class="btn btn-light">Agregar</button>
        <button type="button" class="btn btn-light">Top pelis</button>
      </div>
    </div>
  </div>